PROJECT_NAME=
VERSION=
DEBUG=
DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=
COOKIE_SAMESITE=
REDIS_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ALLOWED_ORIGINS=
FRONTEND_URL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=